<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera página web</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'imagen.css' %}">
    <link rel="stylesheet" href="{% static 'boton.css' %}">
</head>

<body>
    <!-- Barra de navegación -->
    <div class="encabezado">
        <nav>
            <ul>
                <li><a href="#Seccion_principal">Inicio</a></li>
                <li><a href="#Sobre_mi">Quienes somos</a></li>
                <li><a href="#galeria_productos">Productos</a></li>
                <li><a href="#Contacto">Clientes</a></li>
            </ul>
        </nav>
        <div class="slider">
            <img src="{% static 'Assets/Images/beautiful-sneakers-graffiti.jpg' %}" alt="Portada 1" class="slide">
            <img src="{% static 'Assets/Images/diseno-calzado-deportivo-moderno-movimiento-abstracto-generado-ia_188544-19638.avif' %}" alt="Portada 2" class="slide">
            <img src="{% static 'Assets/Images/fashion-shoes-sneakers.jpg' %}" alt="Portada 3" class="slide">
        </div>
    </div>

    <script src="{% static 'Assets/Scripts/slider.js' %}"></script>
    <script src="{% static 'Assets/Scripts/funcionboton.js' %}"></script>


    <div class="boton-superior-derecha">
        <form action="{%url 'sigin' %}">
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>

    <!-- Sección principal -->
    <section id="Seccion_principal">
        <h1>Bienvenidos a SneakStyle!</h1>
        <p>SneakStyle! Donde el estilo se encuentra con la calle.</p>
    </section>

    <!-- Sección "Sobre mí" -->
    <section id="Sobre_mi">
        <h2>Quienes somos!</h2>
        <ul>
            <li>SneakStyle es una tienda en línea especializada en sneakers de alta calidad, donde los entusiastas de las zapatillas</li>
            <li>Aquí pueden encontrar ediciones limitadas, lanzamientos exclusivos y los clásicos más icónicos.</li>
            <li>Nos destacamos por ofrecer una experiencia de compra premium, asegurando la autenticidad de cada producto y brindando asesoramiento personalizado para que nuestros clientes encuentren su estilo ideal.</li>
        </ul>
    </section>

    <!-- Sección "Catálogo Productos" -->
    <section id="galeria_productos">
        <div class="galeria">
            {% for producto in productos %}
            <div class="productos">
                <img src="{{producto.imagen.url}}"/>
                <h3>{{producto.nombre}}</h3>
                <h5>${{producto.precio}}</h5>
                <p>{{producto.descripcion}}</p>
                <button type="submit" onclick="comprarProducto(this)">Comprar</button>
            </div>
            {% endfor %}
        </div>
    </section>
    
    <script src="{% static 'Assets/Scripts/funcionver.js' %}"></script>
    <br><br>
    <section id="Contacto">
        <h2>Registrar cliente!</h2>
        <form action="{%url 'cliente' %}">
            <button type="submit">Registrar</button>
        </form>
    </section>
</body>
</html>


